@media only screen and (max-width: 1600px) {

	.thumbnails-1 {
		max-width: 94%;
	}

	.back-block .door {
	    right: 2%;
	}

	.back-block .cat {
	    right: 13%;
	}

	/*-- Section 2 Blog Page --*/

	.favorite-thumbnails .thumbnail {
	    width: 25%;
	}

	/*-- /Section 2 Blog Page --*/

}

@media only screen and (max-width: 1410px) {

	.row {
		padding: 0 2%;
	}

	/*-- Header --*/

	.main-nav li {
	    padding: 5px 2%;
	}

	/*-- /Header --*/

	/*-- Section 2 Blog Page --*/

	.blog-articles .two-cols-article {
	    width: 100%;
	}

	.two-cols-templ .col-1 {
	    width: 72%;
	}

	.two-cols-templ .col-2 {
	    width: 28%;
	}

	.two-cols-article .img-box {
	    height: 190px;
	}

	.two-cols-article .article-col-2 {
	    padding: 0 0 0 2%;
	}

	/*-- /Section 2 Blog Page --*/

	/*-- Footer --*/

	.footer .col-1 {
	    width: 60%;
	}

	.footer .col-2 {
	    width: 25%;
	}

	.footer .col-3 {
	    width: 15%;
	}

	ul.footer-nav li {
	    margin: 0 2% 0 0;
	}

	ul.footer-nav li a {
	    font-size: 12px;
	    line-height: 12px;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 1340px) {

	/*-- Header --*/

	.header-site .right-col .col-2 {
	    width: 63%;
	}

	.header-site .right-col .col-3 {
	    width: 27%;
	}

	.main-nav li a {
	    font-size: 14px;
	    line-height: 14px;
	}

	a.tel-link {
		font-size: 14px;
		line-height: 14px;
	}

	/*-- /Header --*/

}


@media only screen and (max-width: 1240px) {

	/*-- Header --*/

	.header-site .right-col .col-1 {
	    display: none;
	}

	.header-site .right-col .col-2 {
	    width: 68%;
	}

	.header-site .right-col .col-3 {
	    width: 32%;
	}

	.main-nav li {
	    padding: 5px 1%;
	}

	/*-- /Header --*/

	/*-- Section 2 Main Page --*/

	.thumbnails-1 {
	    margin: 28px 0 0 -7%;
	}

	/*-- /Section 2 Main Page --*/

	/*-- Section 4 Main Page --*/

	.two-cols .col-1 {
	    width: 25%;
	    padding: 21px 1% 21px 0;
	}

	.two-cols .col-2 {
	    width: 75%;
	    padding: 0 1%;
	}

	.thumbnails-2 h3 {
	    font-family: "Geometria", Arial, Verdana, sans-serif;
	    font-size: 31px;
	    line-height: 31px;
	}

	/*-- /Section 4 Main Page --*/

	/*-- Section 5 Main Page --*/

	.seo-blocks.thumb-6 .seo-block {
	    width: 25%;
	}

	.seo-block {
	    padding: 15px 3% 15px 0;
	}

	/*-- /Section 5 Main Page --*/

	/*-- Section 4 - Agents Page --*/

	.agents-header .col-1,
	.agents-info .col-1 {
	    width: 55%;
	}

	.agents-header .col-2,
	.agents-info .col-2 {
	    width: 45%;
	   	text-align: right;
	}

	.agents-header .col-3 {
	    display: none;
	}

	.agents-info .col-3 {
	    width: 100%;
	    padding-top: 5px;
    	padding-bottom: 15px;
	    padding-left: 0;
	}

	.agents-info .col-1 .agent-thumb {
	    top: 0;
	}

	/*-- /Section 4 - Agents Page --*/

	/*-- Section 1 - Agent Page --*/

	.agent-col-1 {
	    width: 24%;
	}

	.agent-col-2 {
	    width: 76%;
	}

	.agent-card-wrapp .agent-thumbnails .agent-thumb {
		width: 50%;
	}

	/*-- /Section 1 - Agent Page --*/

}

@media only screen and (max-width: 1024px) {

	.main-wrapper {
	    padding: 0 14px 14px 14px;
	}

	/*-- Header --*/

	.main-nav li {
	    padding: 5px .7%;
	}

	.main-nav li a {
		font-size: 13px;
		line-height: 13px;
	}

	a.tel-link {
		font-size: 12px;
		line-height: 12px;
	}

	/*-- /Header --*/

	/*-- Section 2 Blog Page --*/

	.favorite-thumbnails .thumbnail {
	    width: 33.33%;
	}

	/*-- /Section 2 Blog Page --*/

	/*-- Section 3 - Agents Page --*/

	.agent-thumbnails .agent-thumb {
		width: 33.33%;
	}

	/*-- Section 3 - Agents Page --*/

	/*-- Section 6 - Agents Page --*/

	.agents-list-block {
	    width: 33.33%;
	}

	/*-- /Section 6 - Agents Page --*/

	/*-- Commet Popup --*/

	.comment-popup-row.row-2 .col-1 {
	    width: 13%;
	}

	.comment-popup-row.row-2 .col-2 {
	    width: 46%;
	}

	.comment-popup-row.row-2 .col-3 {
	    width: 41%;
	    text-align: right;
	}

	.comment-popup-row.row-2 .col-4 {
	    width: 60%;
	}

	.comment-popup-row.row-2 .col-5 {
	    width: 40%;
	}

	/*-- /Commet Popup --*/

}

@media only screen and (max-width: 900px) {

	.wrapper {
	    margin: 0 auto;
	}

	.section-header .h-cell h2 {
	    padding: 0 27px;
	}

	/*-- Header --*/

	.main-wrapper {
		padding-top: 48px;
	}

	.header-site {
		width: 100%;
		z-index: 4;
		position: fixed;
		top: 0;
		left: 0;
		-webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .3);
		-moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .3);
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .3);
	}

	.header-site .right-col .col-2 {
	    width: 57%;
	}

	.header-site .right-col .col-3 {
	    width: 43%;
	}

	.main-nav-box {
		display: none;
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100vh;
	    z-index: 3;
	    background: rgba(255, 255, 255, .9);
	}

	ul.main-nav li {
		display: block;
		text-align: center;
		padding: 0;
	}

	ul.main-nav li a {
		display: block;
		text-align: center;
		font-size: 19px;
	    line-height: 19px;
	    padding: 8px 1%;
	    border-bottom: none;
	    background: rgba(236, 51, 64, 0);
	
	    -webkit-transition-property: border, color, background;
	    -webkit-transition-duration: .3s;
	    -webkit-transition-timing-function: ease;

	    -moz-transition-property: border, color, background;
	    -moz-transition-duration: .3s;
	    -moz-transition-timing-function: ease;

	    -ms-transition-property: border, color, background;
	    -ms-transition-duration: .3s;
	    -ms-transition-timing-function: ease;

	    -o-transition-property: border, color, background;
	    -o-transition-duration: .3s;
	    -o-transition-timing-function: ease;

	    transition-property: border, color, background;
	    transition-duration: .3s;
	    transition-timing-function: ease;

	}

	.main-nav li a:link,
	.main-nav li a:visited {
	     color: #1d1d1b;
	     border-bottom: 1px solid none;
	     background: rgba(236, 51, 64, 0);
	}

	.main-nav li a:active,
	.main-nav li a.active {
	     color: #ffffff;
	     border-bottom: 1px solid none;
	     background: rgba(236, 51, 64, 1);
	}

	.main-nav li a:hover {
	     color: #ffffff;
	     border-bottom: 1px solid none;
	     background: rgba(236, 51, 64, 1);
	}

	.show-resp-nav {
	    display: inline-block;
	}

	a.tel-link {
		font-size: 13px;
		line-height: 13px;
	}

	/*-- /Header --*/

	/*-- Navigation 2 --*/

	.navigation-2 {
		/*display: none;*/
		display: block;
		/*position: fixed;
		top: 0;
		left: 0;*/
		width: 100%;
		z-index: 4;
		-webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .3);
		-moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .3);
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .3);
	}

	/*.nav-2-respbtn {
		display: block;
	}*/

	.nav-2-block {
		border-top: 1px solid #ededed;
		/*display: none;
		height: 100vh !important;*/
	}

	 ul.nav-2 {
		/*display: none;
		height: 100vh !important;*/
		display: block;
	 /*   position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100vh;
	    z-index: 3;*/
	    padding: 5px 0;
	    border-bottom: none;
	    background: rgba(255, 255, 255, .9);
	}

	ul.nav-2 li {
		display: block;
		text-align: left;
		padding: 0;
		-webkit-flex-grow: none !important;
		flex-grow: none !important;
		border-left: none;
	}

	ul.nav-2 li a {
		display: inline-block;
		vertical-align: top;
		/*text-align: center;*/
		margin: 10px 0;
		font-size: 16px;
	    line-height: 16px;
	    font-weight: 600;
	   	padding: 0;
	    border-bottom: none;
	
	    -webkit-transition-property: border, color, background;
	    -webkit-transition-duration: .3s;
	    -webkit-transition-timing-function: ease;

	    -moz-transition-property: border, color, background;
	    -moz-transition-duration: .3s;
	    -moz-transition-timing-function: ease;

	    -ms-transition-property: border, color, background;
	    -ms-transition-duration: .3s;
	    -ms-transition-timing-function: ease;

	    -o-transition-property: border, color, background;
	    -o-transition-duration: .3s;
	    -o-transition-timing-function: ease;

	    transition-property: border, color, background;
	    transition-duration: .3s;
	    transition-timing-function: ease;

	}

	.nav-2 li a:link,
	.nav-2 li a:visited {
	     color: #1d1d1b;
	     border-bottom: 1px solid none;
	     /*background: rgba(236, 51, 64, 0);*/
	}

	.nav-2 li a:active,
	.nav-2 li a.active {
	     color: #eb3340;
	     border-bottom: 1px solid none;
	     /*background: rgba(236, 51, 64, 1);*/
	}

	.nav-2 li a:hover {
	     color: #eb3340;
	     border-bottom: 1px solid none;
	     /*background: rgba(236, 51, 64, 1);*/
	}

	.show-resp-nav {
	    display: inline-block;
	}

	 /*-- /Navigation 2 --*/

	/*-- Section 1 Main Page --*/

	.form-box {
	    display: block;
	    line-height: 0;
	    font-size: 0;
	}

	.form-col {
	    display: inline-block;
	    width: 33.33% !important;
	    border-right: 2px solid #1d1d1d;
	}

	.form-col:nth-child(3n) {
		border-right: none;
	}

	/*-- /Section 1 Main Page --*/

	/*-- Section 2 Main Page --*/

	.section-2 .row {
	    padding-bottom: 20px;
	}

	.bottom-block .col-1 {
	    width: 84%;
	}

	.bottom-block .col-2 {
	    width: 26%;
	}

	.section-nav li a {
	    height: 41px;
	}

	.thumbnails-1 {
		width: 100%;
		max-width: 100%;
		margin: 28px 0 0 0;
	}

	.back-block {
		display: none;
	}

	/*-- /Section 2 Main Page --*/

	/*-- Section 3 Main Page --*/

	.thumbnails-block {
	    margin: 35px 0 25px 0;
	}

	.goods-thumbnails .thumbnail {
	    width: 50%;
	    padding: 15px 2%;
	}

	/*-- /Section 3 Main Page --*/

	/*-- Section 4 Main Page --*/

	.two-cols {
	    padding: 26px 0 41px 0;
	}

	.two-cols .col-1 {
	    width: 100%;
	    padding: 21px 0;
	}

	.two-cols .col-2 {
	    width: 100%;
	    padding: 0 1%;
	}

	.thumbnails-2 h3 {
	    font-family: "Geometria", Arial, Verdana, sans-serif;
	    font-size: 31px;
	    line-height: 31px;
	}

	/*-- /Section 4 Main Page --*/

	/*-- Section 1 Blog Page --*/

	.search-block-blog {
	    top: 4px;
	}

	/*-- /Section 1 Blog Page --*/

	/*-- /Section 3 Blog Page --*/

	.two-cols-templ {
	    display: block;
	    display: -webkit-block;
	    -webkit-align-items: none;
	    align-items: none;
	}

	.two-cols-templ .col-1 {
		float: none;
	    width: 100%;
	}

	.two-cols-templ .col-2 {
		float: none;
		width: 100%;
		padding: 10px 0;
		border-top: 3px solid #1d1d1d;
		border-left: none;
	}
	
	.two-cols-article {
	    padding: 0;
	}

	/*-- /Section 3 Blog Page --*/

	/*-- Section 3 - Agents Page --*/

	.agent-thumbnails .agent-thumb {
		width: 50%;
	}

	/*-- Section 3 - Agents Page --*/

	/*-- Section 6 - Agents Page --*/

	.agents-list-block {
	    width: 50%;
	}

	/*-- /Section 6 - Agents Page --*/

	/*-- Section 1 - Agent Page --*/

	.sidebar-cards .card-thumbnail {
		display: block;
		width: 50%;
		float: left;
		padding: 0 2%;
	    margin: 20px 0 27px 0;
	}

	/*-- Section 1 - Agent Page --*/

	/*-- Section 2 - Agent Page --*/

	.testimonials .testimonial {
	    width: 100%;
	}

	.testimonials .testimonial:nth-child(odd) {
	    padding-right: 0;
	}

	.testimonials .testimonial:nth-child(even) {
	    padding-left: 0;
	}

	.places-block {
	    padding-right: 10%;
	}

	.place-thumbnails .thumbnail {
	    width: 50%;
	}

	/*-- Section 2 - Agent Page --*/

	/*-- Commet Popup --*/

	.comment-popup-row.row-2 .col-1 {
	    width: 10%;
	}

	.comment-popup-row.row-2 .col-2 {
	    width: 49%;
	}

	/*-- /Commet Popup --*/

	/*-- Footer --*/

	.footer .col-1 {
	    width: 55%;
	    padding-top: 10px;
	}

	.footer .col-2 {
	    width: 22%;
	}

	.footer .col-3 {
	    width: 23%;
	}

	.socials-list li {
	    padding: 10px 7px;
	}

	.socials-list li a .fa {
	    font-size: 30px;
	    line-height: 30px;
	}

	/*-- /Footer --*/

}


@media only screen and (max-width: 768px) {

	/*-- Header --*/

	.header-site .right-col .col-2 {
		width: 47%;
	}

	.header-site .right-col .col-3 {
		width: 53%;
	}

	/*-- /Header --*/

	.favorites-block {
	    left: -29px;
	}

	.section-nav li a {
	    font-size: 14px;
	    line-height: 14px;
	}

	/*-- Section 2 Main Page --*/

	.main-slider .slide img.desctop-img {
	    display: none;
	}

	.main-slider .slide img.resp-img {
	    display: block;
	}

	.bottom-block .col {
		display: block;
		border-right: none;
		border-bottom: 2px solid #1d1d1d;
	}

	.bottom-block .col:last-child {
		border-bottom: none;
	}

	.bottom-block .col-1 {
	    width: 100%;
	    padding: 18px 1%;
	}

	.bottom-block .col-2 {
	    width: 100%;
	}

	.thumbnails-1 {
		max-width: 100%;
	}

	/*-- /Section 2 Main Page --*/

	/*-- Section 4 Main Page --*/

	.thumbnails-2 .thumbnail {
	    width: 33.33%;
	}

	/*-- .Section 4 Main Page --*/

	/*-- Section 1 Blog Page --*/

	.search.active .input-block {
	    width: 233px;
	}

	/*-- /Section 1 Blog Page --*/

	/*-- Section 2 Blog Page --*/

	.favorite-thumbnails .thumbnail {
		display: block;
	    width: 100%;
	    margin: 0 auto;
	}

	.favorite-thumbnails .thumbnail .img-box {
	    height: 213px;
	}

	/*-- /Section 2 Blog Page --*/


	/*-- /Section 3 Blog Page --*/

	.two-cols-article {
		border-bottom: 1px solid #efefef;
	}

	.two-cols-article:last-child {
		border-bottom: none;
	}

	.two-cols-article .article-col-1 {
	    width: 100%;
	    max-width: 100%;
	}

	.two-cols-article .article-col-2 {
	    width: 100%;
	    max-width: 100%;
	    padding: 20px 0;
	}

	.thumbnails-header {
	    width: 100%;
	    padding: 22px 0 5px 0;
	}

	.two-cols-templ .col-1 .inner-row {
	    padding: 0 2%;
	}

	.two-cols-article .img-box {
	    max-width: 100%;
	    height: 260px;
	}

	.video-block iframe {
	    height: 368px;
	}

	/*-- /Section 3 Blog Page --*/

	/*-- Section 1 Soveti Page --*/

	.questions-block {
	    -webkit-columns: 2;
	    columns: 2;
	}

	/*-- /Section 1 Soveti Page --*/

	/*-- Section 1 - Agent Page --*/

	.agent-card {
		display: block;
	}

	.agent-card-col {
		display: block;
	}

	.agent-card-col-1 {
	    width: 100%;
	    padding-right: 0;
	}

	.agent-card-col-2 {
	    width: 100%;
	}

	.agent-map-wrapp {
	    height: 314px;
	    margin: 20px 0 32px 0;
	}

	.agent-map-wrapp #map_2 {
	    height: 314px;
	}

	h2.sliding-title {
	    font-size: 20px;
	    line-height: 21px;
	}

	.sales-table .table-row {
	    padding-bottom: 4px;
	    border-bottom: 1px solid #ededed;
	}

	.sales-table .table-row.table-header {
		display: none;
	}

	.sales-table .cell {
		vertical-align: top;
		padding: 7px 3% 7px 0;
	}

	.sales-table_1 .cell-1,
	.sales-table_2 .cell-1 {
	    width: 26%;
	}

	.sales-table_1 .cell-2 {
	    width: 37%;
	}

	.sales-table_1 .cell-3 {
	    width: 37%;
	}

	.sales-table_1 .cell-4 {
	    display: none;
	}

	.sales-table_2 .cell-2 {
	    width: 37%;
	}

	.sales-table_2 .cell-3 {
	    width: 37%;
	}

	.sales-table_2 .cell-4 {
	    display: none;
	}

	.sales-table_2 .cell-5 {
	    display: none;
	}

	.sales-table p {
		padding: 2px 0;
	}

	.map-link {
	    margin: 0 0 0 63%;
	}

	/*-- /Section 1 - Agent Page --*/

	/*-- Commet Popup --*/

	.comment-popup-row.row-3 {
	    padding-top: 9px;
	    padding-bottom: 23px;
	}

	.comment-popup-row.row-3 .col {
	    width: 100%;
	}

	.comment-popup-row.row-3 .col:nth-child(odd) {
	    padding-right: 0;
	}

	.comment-popup-row.row-3 .col:nth-child(even) {
	    padding-left: 0;
	}

	.commet-input-wrapp .rating-table {
	    margin: 0 0 13px 0;
	}

	.commet-input-wrapp {
	    padding: 10px 0 8px 0;
	}

	.copy-block {
	    margin: 17px 0 23px 0;
	}

	.commet-input-wrapp .rating-table .table-row .cell-1 {
		width: 55%;
	}

	.commet-input-wrapp .rating-table .table-row .cell-2 {
		width: 45%;
	}

	/*-- /Commet Popup --*/

	/*-- Footer --*/

	.footer-table {
		display: block;
	}

	.footer .col {
		display: block;
		text-align: center;
		padding: 10px 0;
	}

	.footer .col-1 {
	    width: 100%;
	    padding-top: 10px;
	}

	.footer .col-2 {
	    width: 100%;
	    text-align: center;
	    border-left: none;
	    border-right: none;
	}

	.footer .col-3 {
	    width: 100%;
	}

	ul.footer-nav li {
	    margin: 4px 7px;
	}

	.socials-list li {
	    padding: 10px 13px;
	}

	.web-studio-box {
	    text-align: center;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 600px) {

	.section-header .h-cell h2 {
	    padding: 0 7px;
	}

	/*-- Header --*/

	.header-site .right-col .col-2 {
		width: 51%;
	}

	.header-site .right-col .col-3 {
		width: 49%;
	}

	a.tel-link {
		display: none;
	}

	a.tel-link-resp {
	    display: inline-block;
	}

	/*-- /Header --*/

	/*-- Section 1 Main Page --*/

	.form-col .select2-container {
	    width: 100% !important;
	    min-width: 130px !important;
	}

	.form-col .select-block.big-select .select2-container,
	.select-block.big-selec .select2-dropdown {
	    width: 100% !important;
	    min-width: 130px !important;
	}

	/*-- /Section 1 Main Page --*/

	/*-- Section 2 Main Page --*/

	.section-nav-block {
	    border-bottom: 1px solid #1d1d1d;
	}

	.section-nav li {
		display: inline-block;
		vertical-align: top;
	    width: 50%;
		border-bottom: 2px solid #1d1d1d;
	}

	.section-nav li a {
	    font-size: 12px;
	    line-height: 13px;
	}

	.section-nav li:nth-child(2n) {
		border-right: none;
	}

	.thumbnails-1 {
	    margin: 16px 0 0 0;
	}

	.thumbnails-1 .thumbnail {
	    width: 33.33%;
	    margin: 9px 0;
	}

	/*-- /Section 2 Main Page --*/

	/*-- Section 3 Main Page --*/

	.thumbnails-header {
		display: block;
		width: 80%;	    
		margin: 0 auto;
		padding: 9px 0 5px 0;
	}

	.goods-thumbnails {
	    width: 100%;
	    margin: 0;
	}

	.goods-thumbnails .thumbnail {
		display: block;
	    width: 80%;	    
	    margin: 0 auto;
	    padding: 10px 0;
	}

	/*-- /Section 3 Main Page --*/

	/*-- Section 4 Main Page --*/

	.thumbnails-2 h3 {
	    font-size: 27px;
	    line-height: 27px;
	}

	/*-- /Section 4 Main Page --*/

	/*-- Section 5 Main Page --*/

	.seo-blocks.thumb-6 .seo-block {
	    width: 50%;
	}

	.seo-blocks.thumb-3 .seo-block {
	    width: 50%;
	}

	/*-- /Section 5 Main Page --*/

	/*-- Section 1 Blog Page --*/

	.dropdown-menu-btn {
	    min-width: 117px;
	}

	.search.active .input-block {
	    width: 235px;
	}

	/*-- /Section 1 Blog Page --*/

	/*-- Section 2 Blog Page --*/

	.favorite-thumbnails .thumbnail {
	    width: 98%;
	}

	.favorite-thumbnails .thumbnail {
	    padding: 10px 0;
	}

	/*-- /Section 2 Blog Page --*/

	/*-- Section 3 Blog Page --*/

	.video-block iframe {
	    height: 286px;
	}

	/*-- /Section 3 Blog Page --*/

	/*-- Section 3 - Agents Page --*/

	.agent-thumbnails .agent-thumb {
		width: 100%;
	}

	/*-- Section 3 - Agents Page --*/

	/*-- Section 4 - Agents Page --*/

	.agents-header .col-1,
	.agents-info .col-1 {
	    width: 100%;
	}

	.agents-header .col-2,
	.agents-info .col-2 {
	    width: 100%;
	   	text-align: left;
	}

	.agents-info {
		border-bottom: 1px solid #efefef;
	}

	.agents-info:last-child {
		border-bottom: none;
	}

	.agents-info .col-3 {
	    padding-bottom: 26px;
	}

	/*-- /Section 4 - Agents Page --*/

	/*-- Section 6 - Agents Page --*/

	.agents-list-block {
	    width: 100%;
	    padding-right: 0;
	}

	/*-- /Section 6 - Agents Page --*/

	/*-- Section 1 - Agent Page --*/

	.shape-header h2 {
	    padding: 0 15px;
	    font-size: 19px;
	    line-height: 19px;
	}

	.agent-card h2 {
	    font-size: 21px;
	    line-height: 30px;
	}

	.agent-lists .col {
		width: 100%;
	    padding-bottom: 10px;
	}

	.agent-lists .col:nth-child(odd) {
	    padding-right: 0;
	}

	.agent-lists .col:nth-child(even) {
	    padding-left: 0;
	}

	.agent-card-wrapp .agent-thumbnails .agent-thumb {
		width: 100%;
	}

	.sidebar-cards .card-thumbnail {
		display: block;
		width: 70%;
		float: none;
		padding: 0;
	    margin: 20px auto 27px auto;
	}

	/*-- /Section 1 - Agent Page --*/

	/*-- Section 2 - Agent Page --*/

	.places-block {
	    padding-right: 0;
	}

	.place-thumbnails .thumbnail {
	    width: 100%;
	}

	.places-block .print-link {
	    position: relative;
	    bottom: 0;
	}

	/*-- Section 2 - Agent Page --*/

	/*-- Commet Popup --*/

	.comment-popup h2 {
		font-size: 20px;
	}

	.comment-popup-row.row-2 {
	    padding-top: 5px;
	    padding-bottom: 7px;
	}

	.comment-popup-row.row-2 .col {
	    padding: 5px 1%;
	}

	.comment-popup-row.row-2 .col-1 {
	    width: 14%;
	}

	.comment-popup-row.row-2 .col-2 {
	    width: 45%;
	}

	.comment-popup-row.row-2 h3 {
		font-size: 13px;
	}

	/*-- /Commet Popup --*/

}

@media only screen and (max-width: 480px) {

	.main-wrapper {
	    padding: 0 4px 4px 4px;
	}

	/*-- Header --*/

	.header-site .right-col {
	    min-height: 43px;
	}

	.header-site .right-col .col-2 {
	    width: 69%;
	}

	.header-site .right-col .col-3 {
	    width: 31%;
	}

	.logo-box {
		display: block;
		border-bottom: none;
	}

	.logo-box a.logo {
	    border-right: 3px solid #000000;
	}

	.right-col {
		width: 100%;
		border-top: 2px solid #000000;
	}

	.header-site .right-col .col-3 {
	    padding-right: 0; 
	    border-right: none;
	}

	.col-3-inner {
	    padding-right: 0;
	}

	.respmenubtn-box {
	    top: -50px;
	}

	/*-- /Header --*/

	/*-- Section 1 Main Page --*/

	.promo-block {
	    height: auto;
	}

	.main-slider {
	    display: none;
	}

	.search-block {
	    display: table;
	    width: 100%;
	    min-height: 350px;
	    position: relative;
	}

	.search-row.row-3.align-right {
		text-align: center;
	}

	.search-row .white-pill {
	    margin: 12px 4%;
	}

	.form-col {
	    display: inline-block;
	    width: 50% !important;
	}

	.form-col.resp-big {
		border-right-width: 0;
	}

	.form-col.resp-big {
		width: 100% !important;
	}

	.input-box input {
	    max-width: 90px;
	}

	/*-- /Section 1 Main Page --*/

	/*-- Section 2 Main Page --*/

	.thumbnails-1 .thumbnail {
	    width: 50%;
	    margin: 3px 0;
	}

	/*-- /Section 2 Main Page --*/

	/*-- Section 3 Main Page --*/

	.thumbnails-header {
	    width: 100%;
	}

	.goods-thumbnails .thumbnail {
	    width: 100%;
	}

	/*-- /Section 3 Main Page --*/

	/*-- Section 4 Main Page --*/

	.two-cols {
	    padding: 11px 0 27px 0;
	}

	.thumbnails-2 .thumbnail {
	    width: 50%;
	}

	/*-- .Section 4 Main Page --*/

	/*-- Section 5 Main Page --*/

	.seo-blocks.thumb-6 .seo-block {
	    width: 100%;
	}

	.seo-blocks.thumb-3 .seo-block {
	    width: 100%;
	}

	/*-- /Section 5 Main Page --*/

	.search-block-blog {
	    display: block;
	}

	.search-block-blog .search {
		display: block;
	}

	.search-block-blog .dropdown-menu-btn {
	    border-left: 3px solid #1d1d1d;
	}

	.search-block-blog .dropdown-menu {
	    min-width: 286px;
	    width: 100%;
	    padding: 9px 3% 18px 3%;
	}

	/*-- Section 3 Blog Page --*/

	.pagination li {
	    padding: 5px 0;
	}

	.pagination-arrow.prev {
	    margin: 0 8px 0 0;
	}

	.pagination-arrow.next {
		margin: 0 0 0 8px;
	}

	.video-block iframe {
	    height: 236px;
	}

	/*-- /Section 3 Blog Page --*/

	/*-- Section 1 Soveti Page --*/

	.questions-search-col {
		width: 100%;
	    padding: 13px 0;
	}

	.questions-search input {
	    width: 35%;
	}

	.questions-search input:nth-child(2) {
	    width: 53%;
	}

	.questions-search .search-btn {
	    width: 12%;
	}

	.questions-block {
		padding: 12px 3% 0 3%;
	    -webkit-columns: 1;
	    columns: 1;
	}

	.question-thumbnail {
	    padding: 16px 0 23px 0;
	}

	/*-- /Section 1 Soveti Page --*/

	/*-- Section 2 - Agents Page --*/

	.sort-block.big {
	    width: 98%;
	}

	.sort-radio-btns {
	    display: block;
	}

	.sort-radio-block {
		display: inline-block;
		vertical-align: top;
	    -webkit-flex-grow: none;
	    flex-grow: none;
	    padding: 9px 3%;
	}

	.sort-block-two-cols .sort-item:nth-child(odd) {
		display: inline-block;
		vertical-align: top;
	    margin-right: 1%;
	    float: none;
	}

	.sort-block-two-cols .sort-item:nth-child(even) {
		display: inline-block;
		vertical-align: top;
	    margin-left: 0;
	    margin-right: 1%;
	    float: none;
	}

	/*-- /Section 2 - Agents Page --*/

	/*-- Section 1 - Agent Page --*/

	.shape-header h2 {
	    font-size: 17px;
	    line-height: 17px;
	}

	h2.sliding-title {
	    font-size: 16px;
	    line-height: 18px;
	}

	.sales-table_1 .cell-1,
	.sales-table_2 .cell-1 {
	    width: 19%;
	}

	.sales-table_1 .cell-2,
	.sales-table_2 .cell-2 {
	    width: 42%;
	}

	.sales-table_1 .cell-3,
	.sales-table_2 .cell-3 {
	    width: 39%;
	}

	.sales-table .cell-1 .img-box {
	    height: 47px;
	}

	.map-link {
	    margin: 0;
	}

	.sidebar-cards .card-thumbnail {
		width: 90%;
	}

	/*-- /Section 1 - Agent Page --*/

	/*-- Commet Popup --*/

	.comment-popup-row.row-2 {
	    padding-bottom: 13px;
	}

	.comment-popup-row.row-2 .col-1 {
	    width: 20%;
	}

	.comment-popup-row.row-2 .col-2 {
	    width: 80%;
	}

	.comment-popup-row.row-2 .col-3 {
	    width: 100%;
	    text-align: left;
	}

	.comment-popup-row.row-2 .col-4 {
	    width: 100%;
	}

	.comment-popup-row.row-2 .col-5 {
	    width: 100%;
	    text-align: left;
	    padding-right: 0;
	}

	/*-- /Commet Popup --*/

}

@media only screen and (max-width: 350px) {

	/*-- Section 2 Blog Page --*/

	.favorite-thumbnails .thumbnail {
	    width: 100%;
	}

	/*-- /Section 2 Blog Page --*/

	/*-- Section 3 Blog Page --*/

	.video-block iframe {
	    height: 171px;
	}

	/*-- /Section 3 Blog Page --*/

	/*-- Section 1 - Agent Page --*/

	.sales-table p {
		padding: 3px 0;
	    font-size: 13px;
	    line-height: 17px;
	}

	.sidebar-cards .card-thumbnail {
		width: 100%;
	}

	/*-- /Section 1 - Agent Page --*/

	/*-- Commet Popup --*/

	.comment-popup-row.row-2 .col-1 {
	    width: 23%;
	}

	.comment-popup-row.row-2 .col-2 {
	    width: 77%;
	}

	/*-- /Commet Popup --*/

}

@media only screen and (min-width: 901px) {

	.main-nav-box {
		display: block !important;
		top: 0 !important;
		height : auto;
		/*opacity: 1 !important;*/
	}

	.nav-2-block {
		display: block !important;
		height: auto !important;
	}

	.nav-2 {
	    display: -webkit-flex !important;
	    display: flex !important;
	    height : auto !important;
	}

}